<li id="micropost-<%= micropost.id %>", class="col-xs-4">
  <span class="user">
    <%= image_tag micropost.display_image if micropost.image.attached?%>
    <%= link_to micropost.user.name, micropost.user %><br>
    <%= micropost.content %><br>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
  <span class="timestamp">
    
  </span>
</li>