<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("instagram-2.svg", alt:"Insta logo", class:"logo", width:"125px"),
                    root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home", root_path %></li>
        <li><%=link_to "My Page", "#" %></li>
        <li><%=link_to "Post", "#" %></li>
        <li><%=link_to "Users", "#" %></li>
        <li><%=link_to "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</header>